.site-logo {
  height: 5vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.site-layout .site-layout-background {
  padding: 0;
  height: 5vh;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}

.myBackTop {
  right: 50px;

  .ant-back-top-content {
    background: #1890ff;
    opacity: 0.3;
    transition: all 0.3s;
    box-shadow: 0 0 15px 1px rgba(20, 1, 64, 0.1);

    &:hover {
      opacity: 1;
    }
  }
}
